* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    color: #fff;
    background-color: #5995DA;  
    padding: 1.2em 0;
    display: flex;
    justify-content: center;
  }
  
  .menu {
    width: 80vw;
    display: flex;
    justify-content: space-between;
  }

  .links {
    display: flex;
    justify-content: flex-end;
  }

  .login {
    margin-left: 1.2em;
  }

  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }

  .header {
    width: 70vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .photo-grid-container {
    display: flex;
    justify-content: center;
    margin: 1em 0;
  }

  .photo-grid {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 20vh;
    flex: 1;
  }

  .footer-one,
  .footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 20vw;
  }
  

  

